body {
	font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.dropdown:hover .dropdown-menu {
     display: block;
     margin-top: 0;
 }
 
.form-rounded {
	border-radius: 1rem;
}
